<div class="registration-page-wrapper py-5 px-3">
<div class="container mt-4">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h4>Liste des événements</h4>
      <div class="dropdown">
    <button 
      class="btn btn-success dropdown-toggle" 
      type="button" 
      id="dropdownActions" 
      data-bs-toggle="dropdown" 
      aria-expanded="false">
      ➕ Actions
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownActions">
      <li><a class="dropdown-item" [routerLink]="'/admin/events/add'">➕ Ajouter un événement</a></li>
      <li><a class="dropdown-item" href="#" (click)="showPopup = true; $event.preventDefault()">➕ Ajouter une sous-catégorie</a></li>
      <li><a class="dropdown-item" href="#" (click)="showLocalPopup = true; $event.preventDefault()">➕ Ajouter un local</a></li>
    </ul>
  </div>
</div>
<app-sous-categorie-add *ngIf="showPopup"></app-sous-categorie-add>

<app-local-add *ngIf="showLocalPopup"></app-local-add>
    </div>
    <div class="card-body">
      <table class="table table-striped table-hover text-center">
        <thead class="table-dark">
          <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Date début</th>
            <th>Date fin</th>
            <th>Lieu</th>
            <th>Organisateur</th>
            <th>Sous-catégorie</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of events">
  <td>{{ event.title }}</td>
  <td>{{ event.description }}</td>
  <td>{{ event.startDate }}</td>
  <td>{{ event.endDate }}</td>
  <td>{{ event.localName || '—' }}</td>
  <td>{{ event.organisateurFullName || '—' }}</td>
  <td>{{ event.sousCategorieName || '—' }}</td>
  <td>{{ event.categorieName || '—' }}</td>
  
  <td>
    <button (click)="onEdit(event)" class="btn btn-warning">Modifier</button>
    <button (click)="onDelete(event.id)" class="btn btn-danger">Supprimer</button>
  </td>
</tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
